.icon{
    width: 100px;
    height: 70px;
}
.icon-2{
    width: 150px;
    height: 25px;
}
.aa{
margin: 0;   background-color: black;
}
.bg-body-tertiary{
    background-color: black;
}
.p1{
    color: rgb(172, 172, 172);
    font-size: 70%;
    margin-left: 400px;
}
.search{
    background-color: rgb(105, 105, 105);
    border: 0;
}
.form-control{
    width: 300px       ;
}

body{
    color: white;
}
hr{
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin: 0;
}

.bbb{
    background-color: black;
}

.navbar-brand{
    font-size: 16px;
    margin-left: 75px;

}
.fa-car{
    margin-left: 100px;
}
.navbar-brand-1{
    margin-left: 60px;
    
}

.nav-link{
    color: #bbbbbb;
}
.nav-link:hover{
    color: white;
}

.owc-header__item-imprint{
    text-decoration: none;
    color: #bbbbbb;
    font-size: 12px;
    margin: 0px 12px;
}
.expo{
    background-color: black;
    border-top: 1px solid white;
    font-size: larger;
    font-weight: ;
    text-align: center;
    padding: 5px;
}
.expo a{
    color: white;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-dark{
    font-family: serif;
    position: absolute;
    left: 5%;
}
@media screen and (min-width:568px) {
    .card-wrapper{
        display: flex;
    }

    }
    .card{
        margin: 1rem auto;
        width: calc(90%/3);
    }
    .image-wrapper{
        height: 22vw;
        margin: 0 auto;

    }
    .button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button1 {
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 249, 249); 
  margin-left: 100px;
}

.button1:hover {
  background-color: #000000;
  color: rgb(0, 0, 0);
}

.button2 {
  background-color: white; 
  color: black; 
 width: 200px;
 height: 70px;
 margin-right: 100px;
}

.button2:hover {
  background-color: #d7e3e7;
  color: white;
}
.text-dark1{
    margin-left: 100px;
    color: #000000;
    font-family: serif;
    
}